/*------------------------------------------------------------------
[ Color codes ]
    main-color:         #5da4d9;
    Blue:               #71DD75 (Blue)    [ This is the main color in Template ]
    white:              #FFFFFF (White)   [ ]
    body-bg-color:      #eae8e7           [ body bg color ]
    font-color:         #767270           [ font color ]
    border-color:       #4783c2;

------------------------------------------------------------------ */

$blue:            #71DD75;
$white:           #ffffff;
$body-bg-color:   #eae8e7;
$main-color:      #5da4d9;
$border-color:    #4783c2;
$font-color:      #767270;